<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container border mt-3">
      <div class="row">
        <div class="text-center"><h1>Invoice name</h1></div>
      </div>
      <div class="row">
        <div class="col-3">
          <h2>Xplore</h2>
          <p class="text-wrap text-break">
            1187, Chakgaria, Medical Centre Market, Kolkata-700094, <br />
            <strong>Phone:</strong> 98316 39663/ 91638 38592
          </p>
        </div>

        <div class="col-8 text-end">Date: 05-08-2022</div>
      </div>

      <div class="row">
        <h5 class="text-center">Cash Memo</h5>
      </div>

      <div class="row">
        <p>
          <strong
            >M/s New Garia Development Co-operative Housing Society</strong
          >
          <br />
          Chakgaria, Kolkata-700094
        </p>
      </div>

      <div class="row">
        <p>Bill for the month of <strong>July 2022</strong></p>
      </div>

      <table class="table">
        <thead>
          <tr class="">
            <th scope="col-5">Description</th>
            <th scope="col-1">Quantity</th>
            <th scope="col-1"></th>
            <th scope="col-1">Rate</th>
            <th scope="col-4">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Xerox A4 Black & White</th>
            <td>762</td>
            <td>copies</td>
            <td>1.40</td>
            <td>1,066.80</td>
          </tr>
          <tr>
            <th scope="row">Xerox A4 Black & White</th>
            <td>762</td>
            <td>copies</td>
            <td>1.40</td>
            <td>1,066.80</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td class="fw-bold">Total:</td>
            <td class="fw-bold">1,066.80</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <p class="col-10 text-start">
          Rupees one thousand one hundred seventeen only
        </p>
        <p class="col-2 text-start">E & O.E.</p>
      </div>

      <div class="row">
        <p class="col-10 text-start">
          Please arrange to pay in Union Bnak of India<br />
          CC A/c No. <strong>232013100000140 IFS Code: UBIN0823201</strong
          ><br />
          In the name of <strong>XPLORE</strong>
        </p>
        <p class="col-2 text-start">
          For <strong>XPLORE</strong> <br /><br />
          <i>Proprietor</i>
        </p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
